.primary {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  border: 1px solid var(--border-color);
}

.secondary {
  padding: calc(var(--border-md) / 2);
  background-color: var(--form-background);
  border-radius: var(--border-md);
}
