@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all var(--transition-duration) var(--transition-timing-function);
}

.container {
  margin-inline: auto;
  max-width: 1440px;
  width: 90%;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.loader {
  width: auto;
  height: 60%;
  aspect-ratio: 1;
  border: 5px solid var(--accent-text);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  animation: rotation 1s linear infinite;
}
