.list {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(30rem, 1fr));
  gap: 2rem;
}

.card {
  padding: calc(var(--border-xl) / 1.8);
  border-radius: var(--border-xl);
}

.header {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.icon {
  padding: calc(var(--border-md) / 1.3);
  height: 6rem;
  width: 6rem;
  background-color: var(--primary-hover);
  border-radius: var(--border-md);
}

.title {
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--accent-background);
}

.content {
  color: var(--primary-text);
}
