.list {
  margin-top: 6rem;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fill, minmax(1rem, 35rem));
  gap: 2rem;
}

.card {
  padding: calc(var(--border-xl) / 2);
  border-radius: var(--border-xl);
}

.header {
  padding: var(--border-xl);
  background-color: var(--primary-hover);
  border-radius: calc(var(--border-xl) / 2);
}

.body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 1rem;
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inline_row {
  display: inline-flex;
  column-gap: 2px;
}

.info {
  font-size: 1.4rem;
  color: var(--gray-text);
}

.long_link {
  min-height: 7.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
}

.mini_link {
  font-weight: 500;
  text-decoration: underline;
  color: var(--primary-background);
}

.mini_link:hover {
  text-decoration: none;
}

.actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.actions > button[type="button"] {
  flex-grow: 1;
}
