.modal {
  padding: calc(var(--border-xl) / 1.8);
  max-width: 50rem;
  width: 86%;
  background-color: var(--theme-background);
  border-radius: var(--border-xl);
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.action_button {
  height: 24px;
  width: 24px;
}

.title {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

.description {
  font-size: 1.8rem;
  text-align: center;
  color: var(--primary-text);
}

.wrapper {
  margin-top: 2rem;
}

.form {
  flex-direction: column;
}
