.section {
  margin-top: 8rem;
}

.card {
  height: 28rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 3rem;
  text-align: center;
  background-color: var(--accent-background);
  border-radius: var(--border-xl);
}

.title {
  font-size: 5rem;
  color: var(--accent-text);
}
